body{
  background: #f8f8f8;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}
.container{
  background: #fff;
  margin: 0 auto;
  max-width: 700px;
  min-height: 100%;
  padding: 30px 50px 100px 50px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.hinttext{
  background-color: #eef;
  padding: 10px;
  border: 1px solid #ccf;
  border-radius: 6px;
  -mox-border-radius: 6px;
}


input[type=button]{margin: 10px;}
.notes{margin:20px 0px;}
.CodeMirror {border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
